<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="true"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=org.apache.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=maven-archetype-webapp"/>
        <listEntry value="archetypeVersion=1.4"/>
        <listEntry value="groupId=com.directmedia.onlinestore"/>
        <listEntry value="artifactId=frontoffice"/>
        <listEntry value="version=1.0"/>
        <listEntry value="package=com.directmedia.onlinestore.frontoffice"/>
        <listEntry value="outputDirectory=/Users/fabricefournier/Documents/projetUdemyJ2EE_final"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/var/folders/5q/l7hlt7k50pg_m46wp0kn5k7w0000gn/T/m2e-archetypeGenerator15618727333438982286"/>
</launchConfiguration>
